.navbar-container {
  display: flex;
  align-self: center;
  padding-right: 25px;
  width: 100%;
  max-width: 1250px;
  align-items: center;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}

.navbar-links {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 30px;
}

.navbar-link {
  transition: color 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-link:hover,
.navbar-link:focus {
  color: #f02d34;
}
